#header{ 
    display: flex;
    height: 80px;
    width: 100%;
}
.container{
    position: relative;
   
}



#header .searchBar{
    height:35px;
    width:400px;
    margin: 15px;
    margin-left:100px;
    margin-right: 150px;
    flex: auto;
    border-radius: 0.4rem;
    border-width: thin;
   
    background-position:right;
    background-repeat: no-repeat;
    background-size:15px 15px ;
    padding: 10px;
}
.nav{
    margin:10px;
}
#popup-body {
    height:450px;
    width:350px;
    display: none;
    align-items: center;
    border-radius: 0.8rem;
    z-index: 1;
    margin:auto; 
    position: absolute;
    top: 50%;
    left: 40%;
    background-color:white;
    box-shadow: 0px 2px 5px 5px rgb(196, 189, 189);

   
  
}
#cross{
 position: absolute;
 cursor:pointer;
 font-size: 25px;
 margin-left:320px;
 background-color: transparent;
 border: none;
}
.LocationTable{
    width:100%;
    border-collapse: collapse;
    margin-top: 5px;
}
tr{
    border-bottom:1px solid rgb(179, 172, 172);
}
td:nth-child(odd)
{
    float:inline-start;

}
td:nth-child(even){
    float:inline-end;
}
th{
    padding:10px;
}
td{
    padding:10px;

}
tr:hover{
    background-color: rgb(198, 195, 195);
}
#areaSearch{
    border-radius: 0.4rem;
    width: 100%;
    height: 30px;
}
#loc{
    padding-left:0px;
}
.clearBtn{
background-color: transparent;
border-radius: 0.4rem;
height:30px;

}

.sparsh {
    max-width: 1320px;
    margin: 0 auto; 
    
}

/* Style the image section */
.image-section {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 25px;
}

.left-image img {
    max-width: 100%; 
    border-radius: 10px;
}

.right-image {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.right-image img {
    max-width: 100%; 
    margin-bottom: 15px;
    margin-top: 10px; 
    border-radius: 10px;
}


.left-image {
    position: relative;
}
.right-image{
    position: relative;
}


.image-overlay {

    position: absolute;
    top: 90px;
    left: 100px;
    display: flex;
    flex-direction: column;
    color: black; 
    
}

.image-overlay p:first-child {
    font-size: 18px;
    font-weight: lighter;    
}

.image-overlay h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}

.image-overlay p:last-child {
    font-size: 20px; 
    
}

.green-button {
    
    background-color: #00cc00; 
    color: #fff; 
    padding: 10px ;
    border-radius: 10px;
    margin-top: 10px; 
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    width: 150px;
}
.green-button:hover {
    background-color: #45a049; 
}


.right-image {
    position: relative;
}

.right-image .top-image,
.right-image .bottom-image {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: black;
}

.right-image .top-image {
    top: 50px;
    left: 50px;
}

.right-image .bottom-image {
    top: 320px; /* Adjust the top value as needed */
    left: 50px;
}

.right-image .top-image h1,
.right-image .bottom-image h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}

.right-image .top-image p,
.right-image .bottom-image p {
    font-size: 16px;
}

.right-image button {
    background-color: rgb(44, 42, 42);
    color: #fff;
    padding: 8px;
    border-radius: 8px;
    margin-top: 10px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 12px;
    width: 80px;
}

.right-image button:hover {
    background-color: #45a049;
}






.popular-categories {
    text-align: center;
    padding: 20px;
    color: #000;
}

.section-title {
    text-align: left; 
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}

.image-row {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.category-item {
    flex: 1;
    /* text-align: center; */
    margin: 30px;
    /* background-color: whitesmoke; */
    width: 200px; 
    height: 200px; 
    /* display: flex;
    flex-direction: column;
    align-items: center;
    */
    /* align-items: center; */

    /* border: 2px solid red; */

}

.category-item img {
    width: 80%;
    display: flex;
    /* align-self: flex-end; */
    /* width: 50%; */
    /* max-height: 50%; */
    border-radius: 50%;
}
.img-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50%;
}


.category-item p {
    color: #000;
    text-align: center;
    
}

.highlight {
    background-color: red;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
}

.price{
    color: maroon;
}
.code{
    font-weight: bolder;
}

/*               


Yogesh Code
*/

* {
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.7;
  }
  
  main {
    width: 1320px;
    margin: auto;
  }
  
  a{
    text-decoration: none;
    color: rgb(42, 188, 42);  
  }
  
  .custom-hr{
    border: none;
    border-top: 1px solid rgb(226, 223, 223);
    margin: 20px 0;
  }
  
  .special-offers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .special-offers p{
    color: grey;
  }
  
  .specialoffers {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 1px solid red;
    border-radius: 5px;
    margin: 20px 0px;
  }
  
  .specialoffers article{
    flex: 1;
    border: 1px solid rgb(235, 232, 232);
    border-radius: 5px;
    padding: 10px;
  }
  
  .specialoffers pre{
    text-align: left;
    margin-bottom: 5px;
  }
  
  .specialoffers span{
    background-color: rgb(116, 175, 253);
    color: #fff;
    border-radius: 5px;
  }
  
  .starchoco{
    color: red !important;
    background-color: #fff !important;
  }
  
  .offer-price{
    color: red;
  }
  
  .offer-price del{
    color: gray;
  }
  
  p.availibility{
    color: rgb(5, 170, 5);
  }
  
  .specialoffers p:last-child{
    color: grey;
  }
  
  .specialoffers p:last-child span{
    color: black;
    background-color: #fff;
  }
  
  .sign-up {
    background: rgba(0, 30, 43, 1) url("images/pattern.svg") no-repeat;
    height: fit-content;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
  }
  
  .sign-up p{
    margin: 10px 0;
    color: grey;
  }
  
  .sign-up p:first-child{
    color: #fff;
  }
  
  .sign-up input{
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
  
  #signup{
    background-color: rgb(37, 218, 37);
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
  
  footer {
    background-color: rgb(239, 239, 252);
    width: 100%;
  }
  
  footer section {
    width: 1320px;
    margin: 0px auto;
  }
  
  .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    margin: auto;
  }
  
  .about p{
    color: gray;
  }
  
  .categories {
    display: flex;
    flex-direction: column;
  }
  
  .subcategory {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
  
  .payment-bar {
    display: flex;
    justify-content: space-evenly;
    gap: 10%;
  }
  
  .social-bar {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    color: gray;
  }
  

































